.common-header__outer {
  max-width: $grid-medium;
  margin: 0 auto calc(20px + 0.96vw);

  .common-header {

    :last-child {
      margin-bottom: 0;
    }

    .label {
      opacity: 0.8;
    }

    &__heading {
      margin: 0.19em auto .35em;
    }
  }
}