.common-header__outer {
  max-width: $grid-medium;
  margin: 0 auto calc(20px + 0.96vw);

  .common-header {

    div:last-child {
      margin-bottom: 0;
    }

    .label {
      opacity: 0.8;
      margin: 0;
    }

    &__heading {
      @extend %mainHeader;
      line-height: 1.1;
      margin: 0.25em auto;
    }
  }

  &.type--slide {
    max-width: 700px;
    margin-bottom: 10px;
  }

  .rte {
    margin-bottom: 0;
  }

  .common-header__logo {
    width: 100%;
    display: inline-block;
    margin: 0 auto 4%;
  }
}
