
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-caret:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-times:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-caret-down:before { content: '\e806'; } /* '' */
.icon-caret-up:before { content: '\e807'; } /* '' */
.icon-caret-right:before { content: '\e808'; } /* '' */
.icon-tiktok:before { content: '\e809'; } /* '' */
.icon-apple-music:before { content: '\e80a'; } /* '' */
.icon-google-play:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-down-open-big:before { content: '\e80d'; } /* '' */
.icon-left-open-big:before { content: '\e80e'; } /* '' */
.icon-right-open-big:before { content: '\e80f'; } /* '' */
.icon-up-open-big:before { content: '\e810'; } /* '' */
.icon-down-1:before { content: '\e811'; } /* '' */
.icon-left-1:before { content: '\e812'; } /* '' */
.icon-right-1:before { content: '\e813'; } /* '' */
.icon-up-1:before { content: '\e814'; } /* '' */
.icon-play:before { content: '\e900'; } /* '' */
.icon-open:before { content: '\e901'; } /* '' */
.icon-pandora:before { content: '\e902'; } /* '' */
.icon-deezer:before { content: '\e903'; } /* '' */
.icon-tidal:before { content: '\e904'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-snapchat:before { content: '\f2ac'; } /* '' */


.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: currentColor;

  .no-svg & {
    display: none;
  }
}

.icon--wide {
  width: 40px;
}

svg,
symbol {
  &.icon:not(.icon--full-color) {
    circle,
    ellipse,
    g,
    line,
    path,
    polygon,
    polyline,
    img {
      max-width: 100%;
    }

    rect {
      fill: inherit;
      stroke: inherit;
    }
  }
}

// A generic way to visually hide content while
// remaining accessible to screen readers (h5bp.com)
.icon-fallback-text {
  @include visually-hidden;

  .no-svg & {
    @include visually-shown(static);
  }
}

// Payment icons
.payment-icons {
  user-select: none;
  cursor: default;
}
