nav.main-nav {
  z-index: 120;
  font-size: 1.1em;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media-query($tiny) {
    justify-content: center;
  }
  .nav-inner__wrap {
    flex: 1 1 100%;
  }
  .nav-inner {
    flex: 3 1 400px;
    text-align: right;
  }
  &.font-weight--bold a {
    font-weight: 700;
  }
  &.text-align--right {
    justify-content: flex-end;
    ul,
    .nav-inner {
      text-align: right;
    }
  }
  &.text-align--center {
    justify-content: center;
    ul,
    .nav-inner {
      text-align: center;
      justify-content: center;
    }
  }
  &.text-align--left {
    justify-content: flex-start;
    ul,
    .nav-inner {
      @include media-query($medium-up) {
        text-align: left;
        justify-content: flex-start;
      }
    }
  }

  ul {
    // display: inline-block;
    list-style: none;
    padding: 0 0 0 12px;
    margin: 0;
  }
  .search-outer {
    button {
      color: var(--header-text);
      margin-top: 0;
      &:hover {
        color: var(--header-text-hover);
      }
    }
    @include media-query($medium-down) {
      // flex: 0 0 60px;
    }
  }
  .cart-outer {
    a {
      line-height: 0;
    }
    svg {
      width: 21px;
    }
  }

  li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    &.menu-icon {
      margin-bottom: 4px;
    }

    ul {
      //Child menu
      padding: 12px 8px;
      &::before {
        height: 1.5em;
        display: block;
        content: '';

        @include media-query($small) {
          display: none;
        }
      }
      &::after {
        @extend %psuedo;
        background: var(--header-bg);
        opacity: 1;
        top: 1.5em;
        z-index: 0;
        box-shadow: 4px 4px 8px rgba(black, 0.25);
      }

      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      overflow: hidden;
      min-width: 150px;
      max-height: 0px;
      transition: max-height 500ms $ease;
      padding: 0;



      li {
        display: block;
        position: relative;
        z-index: 2;
        width: 100%;
        text-align: left;
        padding: 0.4em 0;

        @include media-query($medium-up){
          border-bottom: 1px solid $color-border;
        }

        a {
          width: 100%;
          font-size: 0.95em;
          padding: 0.33em 0.8em;
          &::before,
          &::after {
            display: none;
          }
        }
      }
    }
    &:hover ul {
      max-height: 300px;
    }
  }

  a,
  .icon-fallback-text {
    display: inline-block;
    position: relative;
    color: var(--header-text);
    font-family: inherit;
    font-weight: inherit;
    transition: color 400ms $ease, transform 300ms $ease;

    &:hover {
      color: var(--header-text-hover);
    }

    &.parent-link {
      &::after {
        content: "";
        display: inline-block;
        margin: 3px 3px;
        padding-bottom: 1px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid currentColor;
      }
    }
    svg {
      fill: currentColor;
    }

    &:visited {
      color: var(--header-text);
    }
    &:hover {
      color: var(--header-text-hover);
    }
    padding: 0.48em 0.6em;
    text-decoration: none;
    @extend %hover;
    &.back-link {
      &::before {
        content: "\e812";
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        font-weight: 900;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        margin-right: 5px;
        font-size: 0.6em;
        vertical-align: middle;
      }
    }
  }

  @include media-query($small) {

     &.mobile-text-inner--true {
      .menu-icon i::after {
        content: attr(aria-label);
        display: inline-block;
        font-style: normal;
        text-transform: inherit;
        text-transform: uppercase;
        margin: 0 0 0 0.4em;
      }
    }

    .nav-inner__wrap {
      font-size: 1.6rem;
    }


    ul {
      width: 90%;
      max-width: 500px;
      margin: auto;
    }
    li {
      text-align: left;
      margin: 0.2em auto;
    }

    li.menu-childlink {
      font-size: 1em;
      margin: 0;
    }

    li.menu-icon {
      margin: 0.95em auto;
      padding: 0.3em 0;
      a ,
      button {
        padding: 0;
      }
    }



    &.mobile-align--left {
      ul , li, a  {
        text-align: left;
      }
    }

    &.mobile-align--right {
      ul , li,a  {
        text-align: right;
      }
    }

    &.mobile-align--center {
      ul , li,a  {
        text-align: center;
      }
    }
  }
}

.nav-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  ul {
    flex: 0 1 auto;
    padding: 0 20px;
    margin: 4px 0;
  }
}

body {
  overflow-x: hidden;
}
body.nav-open {
  overflow: hidden;
}

.nav-inner__wrap {
  font-size: 1.5rem;
  padding: 1.25rem 0 ;
  &.style--narrow {
    letter-spacing: -0.045em;
    font-size: 1.5rem;
  }

  &.style--caps {
    font-size: 1.4rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  &.style--caps-big {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
}

.cart-items {
  position: absolute;
  top: -1em;
  right: -1em;
  color: $color-accent-inverse;
  @include font-body();
  line-height: 1.2em;
  font-size: 13px;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
  letter-spacing: -0.05em;
  text-align: center;
  background: $color-accent;
  padding: 2px 4px 2px 3px;
  border-radius: 90px;
  overflow: hidden;
  @include media-query($medium-up) {
    top: 9px;
    right: 0px;
  }
}

.mobile-cart {
  display: none;
  margin: 0 0 5px;
  margin-left: auto;
  z-index: 9998;
  a {
    display: inline-block;
    position: relative;
    @extend %hover;
    color: var(--header-text);
  }
}

.nav-inner__background {
  @extend %psuedoish;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  transition: opacity 400ms 300ms $ease;
  display: none;
}

.menu-icon {
  line-height: 1;
}