.lightbox-content {
  display: none;
}

.basicLightbox__placeholder {
  width: 100%;
  iframe {
    width: 90%;
    margin: auto;
    max-width: 900px !important;
    height: 450px;
    @include media-query($medium-down) {
      height: 380px;
    }
    @include media-query($small) {
      height: 300px;
    }
    @include media-query($tiny) {
      height: 240px;
    }
  }
  
}
.popup-content {
   max-width: $grid-medium;
   margin: auto;
  width: 90%;
  &.popup-password form {
    align-items: center;
    justify-content: center;
    // margin: auto;
    min-height: 100px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    // justify-content: flex-start;
    justify-content: center;

    // max-width: 600px;
    margin: 0 0 -12px;
    .errors {
      order: 10;
      display: block;
      flex: 1 1 100%;
      color: red;
      ul {
        list-style: none;
        li {
          font-weight: normal;
        }
      }
    }
    .input-group {
      flex: 0 1 auto;
      margin: 0 0 12px;
      
      input, button {
        margin: 5px !important;
        box-sizing: border-box;
      }
      
      label {
        display: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 12px;
        margin: 0.1em auto;
      }
     
      p {
        font-size: 18px;
        font-weight: $font-body-bold-weight;
        text-transform: uppercase;
        margin: 5px 0;
      }
    }
    input {
        height: 100%;
        height: 48px;
        width: 280px;
        max-width: 100%;
        margin: 0 0 12px;
        font-family: $font-heading;

        &::placeholder {
          font-family: $font-heading;
        }

      }
    button.button {
        font-weight: 700;
        font-family: $font-body;
        height: 48px;
        font-size: 20px;
        margin: 0 0 12px;
        padding: 0.3em 1.5em;
        display: block;
      }
    .large_form {;
      text-align: left;
      flex: 1 1 100%;
      max-width: 440px;
      margin: 0 auto;
      padding: 0px 12px;
      display: flex;  
      align-items: center;
      justify-content: center;  
        .label-text {
          padding-left: 10px;
        }
       input[type="checkbox"] {
        flex: 0 0 auto;
        margin: 5px;
        width: auto;
        height: auto;
        
      }
    }
    .form-success {
      flex: 1 1 100%;
      list-style: none;
      padding:0;
      color: $color-success;
    }
    .form-inner {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      .input-group {
        height: 55px;
        margin: 4px;
        input,button {
          margin: 0;
          height: 100%;
          box-sizing: border-box;
        }
      }
      &.left {
        align-items: flex-start;
        justify-content: flex-start;
      }
      p {
        flex: 1 1 100%;
      }
    }
  }

}

.lightbox-content {
  position: absolute;
  z-index: -100000;
  left: -1000%;
}

.popup-content {
  
}

.popup-inner {
  
  width: 100%;
  padding: 32px 24px;
  padding: calc(10px + 2.2vmax) calc(10px + 2.5vmax);
  box-sizing: border-box;
  background: #fafafa;
  color: #1f1f1f;
  border-radius: $border-radius-big;
  overflow: hidden;
  text-align: center;
  button {
    background: $color-secondary;
  }
  h2 {
    line-height: 1;
    margin-bottom: 0.4em;
    margin-top: 0;
  }
  h4 {
     margin-bottom: 0.4em;
     line-height: 1.4;
     font-weight: normal;
     
  }
  h5 {
    font-weight: normal;
    margin: 0 auto 0.6em
  }
  .form-wrap {
    // max-width: 420px;
    margin: 24px 0 0;
   
    label[for="email"] {
      display: none;
    }
  }
  .large_form {
    
  }
}


.popup-header {
  h4 {
    font-family: $font-body;
    font-size: 20px;
  }
}


#Login{
  text-align: center;
  // margin-top: 10vh;
  label {
    display: none;
  }
  a {
    color: $color-accent-darker;
    text-decoration: none;
    font-weight: bold;
  }
} 