form {
  margin: 0;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input,
textarea,
select {
  font-size: 1.6rem;
  max-width: 100%;
  border: 1px solid $color-border;
  border-radius: 0;
  
  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
  padding: 8px 12px;
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
  border-radius: 0;
}

textarea {
  min-height: 100px;
}

select::-ms-expand {
  display: none;
}

// Force option color (affects IE only)
option {
  background-color: $color-body;
  color: $color-body-text;
}

.input-error {
  border-color: $color-error;
  background-color: $color-error-bg;
  color: $color-body-text;
}

.input-group {
  flex: 0 0 auto;
}

.minimal-signup-wrap {
  &.processing {
    animation: pulse 4s infinite alternate-reverse;
  }
  &.success {
    color: $color-success;
    pointer-events: none;
  }
  &.error {
    color: $color-error;
  }
  input[type=email] {
    border: none;
    background: none;
    color: inherit;
    font-family: $font-heading;

    width: 22em;
    max-width: 100%;
    padding: 12px;
    appearance: none;
    display: inline-block;
    text-align: center;
    &::placeholder {
      color: inherit;
      font-family: $font-heading;
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
    &:focus::placeholder {
      opacity: 0.5;
    }
  }
}



@keyframes pulse {
  0% {
    opacity: 1, 
  }
  100% {
    opacity: 0.5
  }
}