body {
  position: relative;
  height: auto;
}

. {

  .section-bg {
    @extend %psuedoish;
    z-index: 1;

    &.rellax-bg {
      height: 130%;
      top: -10%;
      transition: transform 20ms linear;
    }
  }
  .section-bg__image {
    @extend %psuedoish;
    z-index: 1;
    &.style--cover {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    &.style--repeat-x {
      background-size: auto 100%;
      background-repeat: repeat-x;
    }
    &.style--repeat-y {
      background-size: 100% auto;
      background-repeat: repeat-y;
    }
    &.style--repeat-all {
      background-size: auto;
      background-repeat: repeat;
    }
  }
}

.section-outer {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;

  .button.outline, body.button-style--outline & .button {
    color: inherit;

    &:hover {
      color: $color-accent-inverse
    }
  }

  .section-inner {
    widtH: 96%;
    max-width: $site-max;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  &.size--large {
    .section-inner {
      max-width: $grid-widescreen;
      margin-left: auto;
      margin-right: auto;
      width: 94%;
    }
    }

  &.size--small {
    .section-inner {

      max-width: $grid-large;

      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
  }


  &.spacing--small {
    padding-top: calc(14px + 1vmin);
    padding-bottom: calc(12px + 1vmin);
  }
  &.spacing--medium {
    padding-top: calc(20px + 1.9vmin);
    padding-bottom: calc(18px + 1.4vmin);
  }
  &.spacing--large {
    padding-top: calc(30px + 3vmin);
    padding-bottom: calc(24px + 2vmin);
  }
  &.spacing--huge {
    padding-top: calc(40px + 5vmin);
    padding-bottom: calc(36px + 4vmin);
  }
  &.spacing--full {
        padding-top: calc(40px + 5vmin);
        padding-bottom: calc(36px + 4vmin);
        min-height: 80vh;
      }

   &.size--full-width {
    width: 100%;
    max-width: 100%;
    .section-inner {
      width: 94%;
      max-width: $grid-max-width;
      margin-left: auto;
      margin-right: auto;
      &.stretch-width {
        width: 100%;
        max-width: 100%;
      }
    }
    margin: 0;
    &.spacing--small {
        padding-top: calc(14px + 1vmin);
        padding-bottom: calc(12px + 1vmin);
      }
      &.spacing--medium {
        padding-top: calc(20px + 1.9vmin);
        padding-bottom: calc(18px + 1.4vmin);
      }
      &.spacing--large {
        padding-top: calc(30px + 3vmin);
        padding-bottom: calc(24px + 2vmin);
      }
      &.spacing--huge {
        padding-top: calc(40px + 5vmin);
        padding-bottom: calc(36px + 4vmin);
      }
      &.spacing--full {
        padding-top: calc(40px + 5vmin);
        padding-bottom: calc(36px + 4vmin);
        min-height: 80vh;
      }
  }


  &.bg-style--cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  &.bg-style--repeat-x {
    background-size: auto 100%;
    background-repeat: repeat-x;
  }
  &.bg-style--repeat-y {
    background-size: 100% auto;
    background-repeat: repeat-y;
  }
  &.bg-style--repeat-all {
    background-size: auto;
    background-repeat: repeat;
  }
}

.align--left {
  text-align: left;
}
.align--right {
  text-align: right;
}
.align--center {
  text-align: center;
}

.text--small {
  font-size: 1.3rem;
}
.text--standard {
  font-size: 1.6rem;
}
.text--large {
  font-size: 2rem;
}
.text--mega {
  font-size: 2.6rem;
}

.font--body {
  @include font-body();
}
.font--extra {
  @include font-extra();
}
.font--heading {
  @include font-heading();
}

.weight--normal {
  font-weight: 400;
}
.weight--light {
  font-weight: 300;
}
.weight--bold {
  font-weight: 700;
}

.style--caps {
  text-transform: uppercase;
}

.sitewide-section {
  max-width: $site-max;
  margin: auto;
}


.all-social-icons {
  display: block;
  margin: calc(12px + 1vw auto);
  max-width: $grid-medium;
  width: 100%;
  text-align: center;
  a {
    color: inherit;
  }
}

.fallback-image {
  width: 100%;
  display: block;

  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}