
#shopify-section-header {
  width:100%;
}
section[data-section-type="header"] {
  background-color:var(--header-bg);
  color: var(--header-bg); 
  width: 100%;  
  height: auto;
  z-index: 999;
  transition: transform 240ms linear, opacity 240ms ease;
  &::before {
    opacity: 0;
    @extend %psuedo;
    background: var(--header-bg-dropdown);
    transition: opacity 240ms ease;
    // box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  
  .site-header__inner {
  }
  &.box-shadow {
    &::before {
      box-shadow: 0 0 15px rgba(black, 0.1);
    }
  }
   &.js-fixed {
    position: absolute;
  }
 
  &.headroom--top {
    transform: translateY(0);
    opacity: 1;
    
  }
  &.headroom--not-top {
    .header-above {
      display: none;
    }
    position: fixed !important;
    top: 0;
    transform: translateY(-100%)
  }
  &.headroom--pinned.headroom--not-top {
    animation: getitin 240ms linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform: translateY(0);
    opacity: 1;
    
    &::before {
      opacity: 0.99;
    }
    .site-header__inner {
      padding: 12px 0;
    }
    &.box-shadow {
      box-shadow: 0 0 15px rgba(black, 0.08);
    }
  }
  &.headroom--not-top {
    opacity: 0;
    transform: translateY(-100%);
  }
  &.headroom--unpinned.headroom--not-top {
    // animation: getitout 240ms linear;
    animation-fill-mode: none;
    animation-iteration-count: 1;
  }
  header {
    position: relative;
    z-index: 100;
    
    &+.social-wrap {
      margin-left: 20px;
    }
  }
 
  &.overlay-header {
    &.overlay-active {
      .site-header__inner {
        // padding: 1.5vmax 0;
        
          position: absolute;
          background: transparent !important;
          box-shadow: none !important;
          left: 0%;
          max-width: 100%;
          width: 100%;
        .overlay-logo {
          display: block;
          opacity: 1;
          
          &+img, &+svg {
            opacity: 0;
            width: 100%;
          }
          &+span {
            display: none;
          }
        }
        @include media-query($medium-up) {
          .search-outer {
            button {
              color: var(--color-overlay);
            }
          }
          nav li, nav li a {
            color: var(--color-overlay) !important;
          }
        }
      }
    }
  }
  &.expand-logo {
    header {
      &::before, &::after {
        content:'';
        display: block;
        max-height: 20px;
        height: 20px;
        transition: max-height 300ms ease; 
        @include media-query($small) {
          max-height: 8px;
        }
      }
      .logo-wrap {
        transition: transform 300ms $ease;
        position: relative;
        display: block;
        margin: -10px 0;
        padding: 0 10px;
      }
    }
    &.headroom--not-top {
      header {
        &::before, &::after {
          max-height: 0;
        }
        .logo-wrap {
          transform: scale(0.885)
        }
      }
    }
   
  }
  .social-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

@keyframes getitin {
  from {
    opacity: 0;
    transform: translateY(-100%)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes getitout {
  from {
    opacity: 1;
    transform: translateY(0)
  }
  to {
    opacity: 0;
    transform: translateY(-100%)
  }
}

 .overlay-logo {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    top:0;
    transition: opacity 300ms $ease;
    opacity: 0;
    &+img, &+svg { 
      transition: opacity 300ms $ease;
      opacity: 1;
    }
  }




.site-header__inner {
  display: flex;
  width: 95.5%;
  padding: 12px 0;
  max-width: $grid-max-width; 
  margin: auto;
  //  padding: 2vmin 0;
   z-index: 100;
   position: relative;
   align-items: center;
   justify-content: space-between;
  @include media-query($widescreen) {
    // padding: 10px 0 8px;
  }
  &.force-wrap {
    flex-wrap: wrap;
  }
  
    h1, .h1 {
    margin: 0;
    z-index: 1000;
    position: relative;
    line-height: 1;
    text-transform: uppercase;
    &:not(.fallback)  {
      font-size: 0;
    }
    a {
      text-decoration: none;
      color: inherit;
      // font-size: 1.5em;
      letter-spacing: 0.05em;
      // line-height: 1;
      margin: 0;
    }
    .logo-image {
      
      max-width: 500px;
    }
  }
  
  .logo-wrap {
    width: 100%;
    padding: 0 0;
    display: inline-block;
    line-height: 1;
    
    @include media-query($small) {
      padding: 4px calc(10px + 1vw) 4px 4px ;
      display: block;
      width: 100%;
      
    }
    img, svg {
      width: 100%;
      height: auto; 
    }
    span  {
      display: inline-block;
      min-width: 10em;
      @include media-query($small) {
        margin-bottom: -4px;
        display: block;
      }
      @include media-query($large-up) {
        font-size: 3.2rem;
      }
    }
  }
}
.header-fullwidth {
  flex: 1 1 100%;
  text-align: center;
  padding: 12px;
  @include media-query($medium-down) {
   padding: 0
  }
  
  .make-mobile & {
    @include media-query($medium-down) {
      flex: 1 1 100px;
       order: 2;
    
    &~ .mobile-nav-toggle {
      order: 1 !important;
      flex: 0 0 auto;
      margin: auto;
      padding: 22px;
    }
    &~ .mobile-cart {
      order: 3 !important;
      flex: 0 0 auto;
      margin: 0 auto;
    }
    }
    
  }
}

.mobile-logo {
  display: none;
  @include media-query($small) {
    display: block;
    width: 100%;
  }
}

nav.main-nav.has-halves {
  font-size: 1em;
  @include media-query($widescreen) {
    font-size: 1.2em;
  }
   ul {
    width: 100%;
    padding: 0 !important;
  }
}

.nav-halves {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $site-max;
  margin: auto;
  @include media-query($medium) {
    flex-wrap: wrap;
  }
  .nav-half, .centered-logo {
    margin: 8px;
  }
  .nav-half {
    flex: 0 1 40%;
    @include media-query($large-up) {
      // flex: 0 1 450px;
    }
  }
  .centered-logo {
    flex: 0 0 300px;
     ul.social-wrap {
      margin: 12px auto 0;
      text-align: center;
      align-items: center;justify-content: center;
    }
   
  }
  &.style--squished {
    .centered-logo {
      flex: 0 0 auto;
    }
    .nav-half__last {
      text-align: left;
    }
    .nav-half__first {
      text-align: right;
    }
  }
  header {
    text-align: center;
    a.logo-wrap {
      display: inline-block;
      width: auto;
    }
  }
}



.nav-half {
  &__extras {
    
    display: inline-block;
    li {
      margin: 0;
    }
  }
}

.nav-half__extras {
}

.overlay-active {
  .mobile-nav-toggle .opener , .mobile-cart i{
    color: var(--color-overlay)
  }
}
section[data-section-type="header"] {
  
  .make-mobile .nav-inner {
    .centered-logo {
      margin: 0 auto 20px;
    }
    .search-outer button {
      font-size: 22px;
    }
     @include media-query($small) {
        .overlay-logo {
          opacity: 0 !important;
          &+img {
            opacity: 1 !important;
          }
        }
      }
  }
}