.image-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-link {
  flex: 1 1 350px;
  margin: calc(12px + 1vw);
  text-align: center;
  background: $color-three;
  max-width: 720px;
  padding: 5%;
  min-height: 240px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: transform 300ms $ease, opacity 300ms $ease;
  &__image {
    @extend %psuedoish;
    opacity: 0.5;
    transition: transform 300ms $ease, opacity 300ms $ease;
    height: 100%;
      .responsive-image__wrapper {
        padding: 0 !important;
        @extend %psuedoish;
        img {
          max-width: 100% !important;
          max-height: 100% !important;
          @include object-fit();
        }
      }
    }
  }
  &__text {
    position: relative;
    padding: 30px 20px;
    color: white;
    h4:first-child {
      font-weight: normal;
      letter-spacing: 0.2em;
    }
    .h3 {
      @include font-extra();
      margin-bottom: 0;
    }
  }
  &:hover {
    transform: translateY(-2px);
    .image-link__image {
      transform: scale(1.04);
      opacity: 0.9;
    }
  }
}