
#shopify-section-related-products {
  max-width: 100%;
  width: 100%;
  .related-products {
    max-width: $site-max;
    margin: auto;
    width: 96%  ;
    padding: calc(17px + 1.8vw);
    h3 {
      text-align: center;
      text-transform: uppercase;
    }
  }
}
