.tour-section__inner {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  .tour-main {
    flex: 2 1 630px;
    &:before {
      display: block;
      margin: 20px auto;
      content:'Upcoming Dates';
      @include font-extra;
      font-size: calc(1.5rem + 0.5vw);
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1.2px currentColor;
      letter-spacing: 0.1em;
    }
  }
  .tour-header {
    flex: 1 1 360px;
    max-width: 500px;
    @include media-query($medium-up) {
      margin: calc(2rem + 1vw) 0;
    }
  }
}