.tour-section__inner {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  .tour-main {
    flex: 2 1 630px;

  }
  .tour-header {
    flex: 1 1 360px;
    max-width: 500px;
    @include media-query($medium-up) {
      margin: calc(2rem + 1vw) 0;
    }
  }
  .loader {
   animation: loading 2s infinite alternate-reverse ease ;
   margin: 50px auto;
   text-transform: uppercase;
   font-weight: normal;
   letter-spacing: 1px;
  }
}

[data-module=tour-widget] {
  &.fallback-active {
    [data-expand-bit] {
      display: none;
    }
   .fallback.hidden {
     display: block;
   }
  }
  &.error {
   .error.hidden {
     display: block;
   }
  }
}

.fallback {
  width: 80%;
  margin: auto;
  h2,h3 {
    @include font-extra;
  }
}

@keyframes loading {
  from {
    opacity: 0.4;
    transform: translateY(5px)
  } to {
    opacity: 0.6;
    transform: translateY(0);
  }
}