///COMPONENTS
%forminput {
   background: black;
  color: $color-accent;
  border-color: $color-accent;
  &::placeholder {
    color: $color-accent
  }
}
body {
  form input {
    @extend %forminput;
  }
  .search-drawer-inner > form {
    @extend %forminput;
    i {
      color: $color-accent
    }
  }
}


div.password-header__wrap {
  height:calc(90vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h4 {
    color: $color-accent;
    font-size: calc(24px + 1vw);
    font-weight: normal;
     -webkit-text-stroke: 1px $color-accent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.4em;
  }
  
}

nav.main-nav {
  ul li {
    a {
      @include font-extra();
      letter-spacing: 0.04em;
      transition: all 300ms $ease;
      font-size: 20px;
      &:hover {
        -webkit-text-stroke: 1.1px $color-accent;
       -webkit-text-fill-color: transparent;
      }
    }
  }
}

body[class*=heading-style] {
  .section-header,  .slide-content-inner  {
    h4 {
      opacity: 0.7;
      @include font-heading(400);
      letter-spacing: 0.2em;
    }
  }
}

body[class*=button-style] {
  
}

@mixin stroke-header($stroke-width: 3px) {
  font-size: calc(50px + 1.5vw);
    color: $color-accent;
     -webkit-text-stroke: $stroke-width $color-accent;
     -webkit-text-fill-color: transparent;
     line-height: 0.95;
     letter-spacing: -0.06em;
     @include media-query($small) {
      -webkit-text-stroke: $stroke-width/1.33 $color-accent;

  }
}

.section-outer .section-header {
  max-width: $site-max;
  color: $color-accent;
  h4 {
    margin-bottom: 0.2em;
  }
  h2, .h1, .h2 {
    @include stroke-header();
    margin: 0.1em auto;
  }
  
}

#home {
  h4 {
    color: $color-accent
  }
  .h1 {
    @include stroke-header();
  }
  .button {
    background: transparent;
    // padding: 0;
    background: $color-secondary-darker;
    color: $color-accent;
  }
}

#about {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  .content-column:first-child {
    .h3 {
      @include stroke-header();
    }
  }
}
#music {
  h4 {
    margin: 0;
  }
  h2 {
  
    margin: 0.1em;
    
  }
  a.listen.simple {
    color: $color-accent
  }
  a.button {
    color: $color-secondary-darker
  }
}




.footer-newsletter {
  h2 {
    @include stroke-header(2px);
  }
  
  .label-text {
    color: $color-accent;
  }
}

#tour {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .section-inner {
    margin: auto;
    width: 100%;
  }
}

#videos {
  .video-slide {
    box-shadow: 0 0 40px rgba(black, 0.2), 0 0 10px rgba(black, 0.2), ;
    font-size: 2em;
    h3.h3 {
      margin-bottom: 0;
    }
    h4.h4 {
      margin: 7px auto 0;
    }
    .video-slide__bg {
      opacity: 0.4;
    }
    &:hover {
      .video-slide__bg {
        opacity: 0.6;
      }
    }
  }
}
.cart-drawer {
  h3.cart-drawer__title {
    color: $color-secondary;
    @include font-extra();
  }
}
.cart-drawer-item {
  .item-title h4 {
    font-size: 19px;
  }
}