#shopify-section-header {
  z-index: 1000;
}

.site-header__wrap .logo-wrap {
  margin: -40px -20px
}

.site-header__wrap.expand-logo.headroom--not-top header .logo-wrap {
  transform: scale(0.72);
  transform-origin: 50% 40%;
}

.rotating-background .common-header__outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  .common-header__logo {
    flex: 1 1 320px;
    max-width: 500px;
    padding: 20px;
  }

  .common-header {
    flex: 2 1 220px;
    padding: 20px;
  }
}