/**
 * Insert your styles with Liquid below.
 *
 * Import additional stylesheets into this sheet using CSS imports:
 * @import url('./global/form.scss');
 */

 
 ///SWATCH COLORS
 //create object from liquid form
 {% assign swatch_hexes = settings.swatch-hexes | replace: '<p>', '' | replace: '</p>' , '' | newline_to_br | split: '<br />'  %}

 
{% for hex in swatch_hexes %} 
  {% assign hex = hex | replace: '&nbsp;' , ' ' %}
  {% assign hex_info = hex | split: ':' %}
  {% assign hex_color = hex_info[0] | strip %}
  {% assign hex_code = hex_info[1] | strip %}
  
  .color.swatch--{{hex_color}} label {
    background: {{ hex_code }} !important;
  }
{%endfor%}
