body.template-product {
  
  main#MainContent {
    max-width: $grid-max-width;
    margin: auto;
  }
}

.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

ul.product-thumbnails {
  // width: 100%;
  li {
    width: 65px;
  }
}

#shopify-section-product {
  padding: 30px 12px;
   
}
.product-grid__wrap {
  display: flex;
  margin: 15px auto;
  margin: auto;
  max-width: 1200px;
  width: 95%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  &.reverse-layout {
    flex-direction: row-reverse;
  }
}
.product-images__wrap {
  flex: 2 1 230px;
  position: relative;
  z-index: 2;
  max-width: 550px;
  @include media-query($small) {
    width: 100%;
  }
  margin: 12px 0;
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 490px;
    width: auto;
    margin: 12px auto;
    
    li {
      flex: 0 0 90px;
      @include media-query($small) {
        flex: 0 0 70px;
      }
      padding: 7px;
      
      display: inline-block;
      a {
        padding: 0;
        opacity: 0.7;
        display: inline-block;
        position: relative;
        transition: transform 150ms $ease, opacity 150ms $ease;
        &[aria-current=true] {
          opacity: 1;
          transform: scale(1.04);
        }
      }
    }
  }
}

[data-price-wrapper] {
  margin: 20px auto;
  font-size: 25px;
  [data-product-price] {
    font-weight: bold;
  }
  s {
    font-size: 0.75em;
    padding: 0.4em;
  }
}
.product-details__wrap {
  flex: 1 2 180px;
  position: relative;
  z-index: 1;
  padding: 0 calc(10px + 1.2vw);
  
  // margin-top:6vmin;
  min-height: 350px;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  .rte {
    margin: calc(12px + 2vw) 0;
    padding-top: calc(12px + 2vw);
    // border-top: 2px solid $color-border;
    width: 100%;
    p:first-of-type {
      margin-top: 0;
    }
  }
  @include media-query($medium-down) {
    max-width: 500px;
  }
  @include media-query($large-up) {
    // padding: 50px;
  }
  @include media-query($tiny) {
    margin-top: 0;
    padding: 24px 18px;
  }
  & > h1 {
    position: relative;
    z-index: 1;
    text-transform: none;
    letter-spacing: -0.01em;
    line-height: 1;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    word-wrap: break-word;
    @include media-query($large-down) {
      
      font-size: calc(2rem + 2.8vw) !important;
    }
    @include media-query($widescreen) {
      font-size: 4.0rem;
    }
  }
  
  .form-wrap {
    position: relative;
    z-index: 2;
    width: 100%;
  }
}

.image-divider {
  position: relative;
  z-index: 0;
  width: calc(100% + 550px);
  margin: 20px -150px 0 -400px
}

.product-form-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .quantity-select {
    flex: 0 0  120px;
    margin-right: calc(8px + 0.5vw);
    @include media-query($medium-down) {
      margin-right: 0;
    }
    
  }
  [data-price-wrapper] {
    flex: 0 0 auto;
    margin: 24px 12px 0;
  }
  button {
    margin: 32px 0 0;
    &.button.solid {
      background: $color-secondary;
    }
    &.cart {
      font-size: 19px;
    }
    &[disabled] {
      background-color: $color-border-darker !important;
      opacity: 0.6;
      &:hover {
        transform: translateY(0);
      }
    }
  }
}

.related-products {
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
}

body.product-style--card {
  section[data-section-type="product"] {
    padding:  calc(10px + 1vw);
    background: $color-card-bg;
    color: $color-card-text;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    border-radius: $border-radius-big;
  }
  .product-details__wrap {
    @include media-query($small) {
      padding: 0;
    }
  }
}